/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.mybtn-1{
    border: none;
    padding: 9px 17px;
    background: #292929;
    border-radius: 3px;
    cursor: pointer;
    font-family: Inter;
    color: #FFFFFF;
    margin-bottom: 5px;
    font-size: 12px;
}
.mybtn-1:hover,.icon-2:hover{
    background: #0E4E72;
}
.active-1{
    background: #0E4E72;
}
.close-x {
    stroke: #fff;
    fill: transparent;
    stroke-linecap: round;
    stroke-width: 5;
  }
.btn-close-cust{
    padding: 0px 5px 26.5px 5px;
    border: none;
    min-width: 26px;
    min-height: 26px;
    max-width: 26px;
    max-height: 26px;
    background: #122020;
    border-radius: 50%;  
    color: #FFFFFF;  
    font-family: Inter;    
}
.mybtn-2{
    border: 1px solid #0E7271;
    padding: 8px 15px;
    background: #0E7271;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 12px;
}
.mybtn-3{
    border: 1px solid #848484;
    padding: 8px 15px;
    background: #313131;
    border-radius: 5px;
    cursor: pointer;
    font-family: Inter;
    color: #848484;
    font-size: 12px;
}
.my-input-1{
    background: #292929;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    min-width: 210px;
    max-width: 210px;
}
.my-input-1,.my-input-2:focus{
    border:none;
}
.my-input-2{
    background: #292929;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    max-width: 40px;
    min-width: 40px;
    max-height: 39px;
    min-height: 39px;
    padding:10px;
    text-align: center; 
}
.my-input-3{
    background: #292929;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    width: 100%;
    padding: 8px;
    font-size: 12px;
}
.my-input-4{
    background: #292929;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    width: 80%;
    padding: 8px;
    font-size: 12px;
}
.my-input-ser{
    background: #303030;
    border-radius: 15px 0px 0px 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    padding-left: 10px;
}
.my-input-ser-but{
    background: #303030;
    border-radius: 0px 15px 15px 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #cfcfcf;
    padding-right: 10px;

}
.mcat-add-in-1{
    width: 90%;
    background: #292929;
    border-radius: 3px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #cfcfcf;
    padding: 5px;
}
.chosen-custom{
    background: #292929;
    width: 95%;
    border: none;
    color: #FFFFFF;
    margin: 5px;
}
.chosen-custom:focus{
    border: none;
    outline: none;
}
.round-up-holder{
    position: absolute;
    writing-mode: vertical-rl;
    background: #383838;
    border-radius: 3px;
    margin-left: 10px;
}
.round-up-holder-2{
    writing-mode: vertical-rl;
    background: #383838;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: 17px;
    margin-bottom: 10px;
}
.round-end-ico-try-1{
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 1.8px;
    cursor: grabbing;
}
.round-end-ico-try-2{
    padding-right: 6px;
    margin-bottom: 6px;
    margin-top: 1.8px;
    cursor: grabbing;  
}
.round-end-ico-try-3{
    padding-right: 6px;
    margin-top: 6px;
    margin-bottom: 1.8px;
    cursor: pointer;
}
.round-end-ico-try-4{
    padding-right: 6px;
    margin-bottom: 6px;
    margin-top: 1.8px;
    cursor: pointer;  
}
.play-ico-holder-22{
    position: relative;
}
.playlist-ico-remover{
    position: absolute;
    right: 0px;
    background: #292929;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    color: #FFFFFF;
    padding-left: 5.4px;
    padding-top: 0.5px;
}