.bg-dark-0{
    background: #313131;
}
.bg-dark-1{
    background: #292929;
}
.bg-green-0{
    background: #0E7271;
}
.bg-red-0{
    background: #A6514C;
}
.bg-red-0-0{
    color: #A6514C;
}
.bg-dark-2{
    background: #292929;
}