@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.ttf');
}

.tt-1{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    color: #FFFFFF;
}
.tt-2{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 30px;
    top: 20px;
}
.tt-3{
    position: absolute;
    width: 150px;
    left: 16.97px;
    top: 146px;
    padding-bottom: 5px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}
.playlist-name{
    font-family: Inter;
    color: #FFFFFF;
    padding-top: 18px;
    padding-left: 30px;
    font-size: 13px;
    font-weight: 600;
}
.tt-4{
    color: #9A9A9A;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
    padding-top: 18px;
}
.tt-5{
    color: #9A9A9A;
    font-family: Inter;
    font-size: 14px;
    font-weight: 600;
}
.tt-6{
    color: #9A9A9A;
    font-family: Inter;
    font-size: 13px;
    font-weight: 600;
}
.tt-7{
    color: #9A9A9A;
    font-family: Inter;
    font-size: 13px;
}
.text-cen-1{
    position: absolute;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 110px;
    font-family: Inter;
    color: #FFFFFF;
}
.tt-10{
    color: #FFFFFF;
    font-family: Inter;
    font-size: 16px;
    font-weight: 100;
}