.user-icon{
    width: 56px;
    height: 56px;
    right: 3%;
    top: 14px;
    background: url(../img/user.png)
}
.i-line-1{    
    width: 26px;
    height: 4px;
    background: #0E7271;
    border-radius: 5px;
    margin-bottom: 5px;
    display: block;
}
.home-ico-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 34px;
    height: 34px;
    background: #313131;
    border-radius: 7px;
}
.side-ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 34px;
    height: 34px;
    background: #0E7271;
    border-radius: 7px;
}
.band{
    display: block;
    width: 71.11px;
    height: 24px;
    background: url(../img/band.png);
}
.band-5{
    display: block;
    min-width: 175px;
    min-height: 79px;
    background: url(../img/log.png);
    background-repeat: no-repeat;
}
.icon-2{
    position: relative;
    display: inline-block;
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    margin-left: 10px;
    background: #292929;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;

}
.pencil-ico{
    padding: 8px
}
.vid-ico-bg-1{
    position: absolute;
    width: 26px;
    height: 26px;
    right: 16px;
    top: 16px;
    background: #0D5958;
    border-radius: 3px;
    cursor: pointer;
}
.vid-plus-1{
    padding-left: 6.4px;
    padding-top: 6px;
    color: #fff;
}
.playlist-ico-1{
    width: 55px;
    height: 55px;
    left: 10px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}
.playlist-edit-ico{
    width: 36px;
    height: 37px;
    background: #0E4E72;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    top: 24px;
}
.ico-box-1{
    position: absolute;
    width: 34.63px;
    height: 29.81px;
    left: 96px;
    top: 67px;
    background: #313131;
    border: 2px solid #9A9A9A;
    border-radius: 5px;
}
.ico-box-2{
    position: absolute;
    width: 34.63px;
    height: 29.81px;
    left: 116px;
    top: 88px;
    background: #313131;
    border: 2px dashed #9A9A9A;
    border-radius: 5px;
}
.band-2{
    position: absolute;
    width: 119px;
    height: 68px;
    left: 62px;
    top: 63px;
    background: url(../img/band_2.png);
}
.ico-remove-1{
    position: absolute;
    width: 24px;
    height: 24px;
    top: 6px;
    right: 14px;
    background: #292929;
    color: #fff;
    border-radius: 50%;
    padding-left: 5.5px;
    padding-top: 1px;
}
.ico-delete-1{ 
    position: relative;
    display: block;
    background: #A6514C;
    border-radius: 5px;
    color: #fff ;
    max-width: 36px;
    height: 37px;
    padding-left: 11px;
    padding-top: 8px;
    margin-left: 26px;
    margin-bottom: 15px;
}
.del{
    display: block;
    width: 36px;
    height: 37px;
    background: url(../img/delete.png);
    background-repeat: no-repeat;
}
.cloud-up-ico{
    max-width: 37px;
    max-height: 23px;
    margin-left: 58px;
    margin-top: 50px;    
}
.playlit-up-pimg1{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
}
.equ-ico{
    color: #6F6F6F;;
    font-family: Inter;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 1px;
}
.minus-ico-1{
    background: #292929;
    color: #fff;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding-left: 7px;
    padding-top: 2px;
    cursor: pointer;
    margin-top: 3px;
    margin-left: 5px;
}
.plu-ico-1{
    background: #292929;
    color: #fff;
    width: 36px;
    height: 36px;
    padding-left: 12px;
    padding-top: 8px;
    cursor: pointer;
    margin-left: 5px;
}