html,body{
    background-color: #292929;
}
.top-nav-c{
    position: fixed;
    top: 0;
    left: 0;
    background: #292929;    
    width: 100%;
    height: 84px;
}
.side-nav{
    position: absolute;
    background: #292929;    
    width: 69px;
    left: 0;
}
.navbar-cutom-1{
    background: #292929;
    height: 84px;  
}
.col-13{
    flex: 0 0 auto;
    width: 3.5%;    
}
.col-14 {
    flex: 0 0 auto;
    width: 96.5%;
}
.card-1{
    position: relative;
    min-width: 253px;
    max-width: 253px;
    height: 245px;
    left: 0px;
    top: 0px;
    background: #0E7271;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.card-holder-1{
    display: flex;
    overflow-x: scroll;
}
.card-holder-2{
    position: absolute;
    max-height: 180px;   
    overflow-y: scroll;
    left: 12px;
    top: 57px;
    padding-right: 7px;
}
.card-2{  
    position: relative; 
    width: 228px;
    height: 176px; 
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    overflow-x: hidden;
}
.top-box{
    position: absolute;
    width: 1323px;
    height: 455px;
    left: 95px;
    top: 116px;
    background: #313131;
    border-radius: 5px;
}
.holder-2{
    position: relative;
    border-radius: 5px 5px 5px 5px;
    min-height: 420px;
}
.holder-2-scroll{
    position: absolute;
    overflow-x: scroll;
    max-width: 100%;
    display: flex;
    padding: 20px;
    border-radius: 0px 0px 5px 5px;
    left:10px;
    right:10px;
}
.main-holder-1{
    /*position: static;
    background: red;
    min-height: 100%;*/
}
.hol-23{ 
    position: relative;   
    min-width: 300px;
    display: flex;
}
.line-1{
    position: absolute;
    width: 228px;
    height: 0px;
    left: 0px;
    top: 134px;
    border: 1px solid #E5E5E5;
}
.vid-ico-bg-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    position: absolute;
    width: 24px;
    height: 24px;
    right: 5px;
    top: 142px;
    background: #0E7271;
    border-radius: 3px;
    cursor: pointer;
}
.section-2{

}
.playlist-card-1{
    border: none;
    border-radius: 5px;
}
.playlist-holder{
    position: relative;
    max-height: 450px;
    overflow-y: auto;
    margin-bottom: 20px;    
    padding-bottom: 10px;
}
.playlist-holder-2{
    background: #313131;
    display: flex;
    height: 240px;
    max-width: 100%;
    margin: 10px 20px 10px 20px;
    overflow-x: scroll;
}
.playlist-holder-3{
    position: relative;
    min-width: 258px;
    min-height: 176px;
    background: #313131;
    margin: 2px;
}
.playlist-holder-4{
    position: relative;
    background: #303030;
    min-height: 35px;
}
.playlist-holder-5{
    position: relative;
    background: #122020;
    min-height: 190px;
    margin: 7px;
}
.playlist-holder-6{
    position: relative;
    background: #313131;
    border: 1px dashed #9A9A9A; 
    min-height: 190px;
    margin: 7px;
}
.playlist-update-btn-holder{
    float: right;
    position: relative;
    justify-content: end;
    margin-right: 18px;
    
}
.playlist-icon-up{
    position: relative;
    min-width: 145px;
    min-height: 131px;
    max-width: 145px;
    max-height: 131px;
    background: #313131;
    border: 1px dashed #9A9A9A;
    box-sizing: border-box;
    border-radius: 3px;
    cursor: pointer;
}
.my-input-group {
    display: flex;
    align-content: stretch;
  }
.menu {
    position: absolute;
    display: block;
    z-index: 9000; 
    background: #313131;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    
}
.menu li,ul{
    list-style-type: none;
   
    margin-left: 0px;
    padding-left: 0px;
}
.menu li{
    border-bottom: 1px solid #484848;
}
.menu button{
    background: #313131;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
}