.lg-top-text{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 21px;
    /* or 162% */

    text-align: center;
    letter-spacing: 0.5px;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.5;
}
.login-input{
    width: 399px;
    height: 53px;
    background: #303030;
    border-radius: 15px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-family: Inter;
    padding-left: 23px;
    padding-right: 23px;
    margin-bottom: 24px;
}

/* The container */
.container-1 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 27px;
  }
  
  /* Hide the browser's default checkbox */
  .container-1 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    height: 24px;
    width: 24px;
    background: #292929;
    border: 1px solid #9A9A9A;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .container-1 span{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    /* identical to box height, or 162% */
    
    letter-spacing: 0.5px;
    
    color: #FFFFFF;
    
    mix-blend-mode: normal;
    opacity: 0.5;
    position: absolute;
    padding-top: 2px;
  }
  /* On mouse-over, add a grey background color */
  .container-1:hover input ~ .checkmark {
    background-color: rgb(83, 83, 83);
  }
  
  /* When the checkbox is checked, add a blue background */
  .container-1 input:checked ~ .checkmark {
    background: #303030;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container-1 input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container-1 .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .login-btn{
    width: 269px;
    height: 49px;
    color: #FFFFFF;
    background: #0E7271;
    border-radius: 15px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
  }
  .line-login{
    position: absolute;
    width: 420px;
    height: 0px;       
    border: 1px solid #484848;
    margin-top: 40px;
  }