html,body{
    background: #292929;
}
.side-bar{
    position: absolute;
    width: 69px;
    height: 100%;
    left: 0px;
    top: 0px;
    background: #292929;
}
.bar-1{
    position: absolute;
    width: 26px;
    height: 4px;
    left: 22px;
    top: 30px;
    background: #0E7271;
    border-radius: 5px;
}
.bar-2{
    position: absolute;
    width: 26px;
    height: 4px;
    left: 22px;
    top: 39px;
    background: #0E7271;
    border-radius: 5px;
}
.bar-3{
    position: absolute;
    width: 26px;
    height: 4px;
    left: 22px;
    top: 48px;
    background: #0E7271;
    border-radius: 5px;
}
.home-ico-back{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 18px;
    top: 116px;
    background: #313131;
    border-radius: 7px;
}
.side-ico{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: absolute;
    width: 34px;
    height: 34px;
    left: 18px;
    top: 181px;
    background: #0E7271;
    border-radius: 7px;
}
.top-box{
    position: absolute;
    width: 1323px;
    height: 455px;
    left: 95px;
    top: 116px;
    background: #313131;
    border-radius: 5px;
}
.top-nav{
    position: absolute;
    width: 1440px;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #292929;
}
.user-icon{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1342px;
    top: 14px;
    background: url(../img/user.png)
}
.band{
    position: absolute;
    width: 71.11px;
    height: 24px;
    left: 113px;
    top: 30px;
    background: url(../img/band.png);
}
.ht-1{
    position: absolute;
    width: 75px;
    height: 19px;
    left: 36px;
    top: 35px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
.holder-1{
    position: absolute;
    top:82px;
    left:33px;
}
.mybtn-1{
    border: none;
    padding: 9px 17px;
    background: #292929;
    border-radius: 3px;
    cursor: pointer;
    font-family: Inter;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.mybtn-1:hover,.icon-2:hover{
    background: #2c2c2c;
}
.active-1{
    background: #0E4E72;
}
.icon-2{
    position: absolute;
    width: 33px;
    height: 33px;
    margin-left: 20px;
    background: #292929;
    border-radius: 3px;
    margin-bottom: 5px;
    cursor: pointer;

}
.pencil-ico{
    padding: 6px
}
.holder-2{
    position: absolute;
    top: 150px;
    left:20px;
}
.card-1{
    position: relative;
    min-width: 273px;
    height: 265px;
    left: 0px;
    top: 0px;
    background: #0E7271;
    border-radius: 5px;
    margin-right: 10px;
    margin-bottom: 15px;
}
.ht-2{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
    position: absolute;
    left: 36px;
    top: 20px;
}
.vid-ico-bg-1{
    position: absolute;
    width: 26px;
    height: 26px;
    left: 231px;
    top: 16px;
    background: #0D5958;
    border-radius: 3px;
    cursor: pointer;
}
.vid-plus-1{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 5px;
    top: 11px;
    border: 2px solid #FFFFFF;
    transform: rotate(90deg);
}
.vid-plus-2{
    position: absolute;
    width: 12px;
    height: 0px;
    left: 5px;
    top: 11px;
    border: 2px solid #FFFFFF;
}
.vide-holder-con{
    position: absolute;    
    top:60.23px;
    left: 12.3px;
    overflow-y: scroll;
    max-height: 196px;
;
}
.card-2{   
    position: relative; 
    width: 248px;
    height: 196px; 
    background: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
}
.line-1{
    position: absolute;
    width: 246px;
    height: 0px;
    left: 0px;
    top: 154.8px;
    border: 1px solid #E5E5E5;
}
.ht-3{
    position: absolute;
    width: 109.64px;
    height: 17.82px;
    left: 16.97px;
    top: 164.82px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #000000;
}
.vid-ico-bg-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    position: absolute;
    width: 24px;
    height: 24px;
    left: 207px;
    top: 162px;
    background: #0E7271;
    border-radius: 3px;
    cursor: pointer;
}
.vid-dot-1{
    position: static;
    left: 18.75%;
    right: 65.97%;
    top: 42.36%;
    bottom: 42.36%;
    background: #FFFFFF;
    border: 0.5px solid #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 2px;
}
.video-holder-1{
    padding: 5px;
}
.holder-2-scroll{
    position: relative;
    overflow-x: scroll;
    width: 1285px;
    display: flex;
}
.text-cen-1{
    position: absolute;
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top: 120px;
    font-family: Inter;
    color: #FFFFFF;
}
.pointer{
    cursor: pointer;
}
.playlist-section-holder-1{
    position: relative;
    top: 635px;
}
.ht-4{
    position: absolute;
    left: 131px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
}
